inscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="formulaire">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="titre" type="xs:string"/>

                <xs:element name="nom">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="prenom">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="email" type="xs:string"/>

                <xs:element name="telephone">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:pattern value="[0-9]{10}"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="age">
                    <xs:simpleType>
                        <xs:restriction base="xs:integer">
                            <xs:minInclusive value="6"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="sexe">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Homme"/>
                            <xs:enumeration value="Femme"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="sport">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Football"/>
                            <xs:enumeration value="Basketball"/>
                            <xs:enumeration value="Natation"/>
                            <xs:enumeration value="Tennis"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="niveau">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Debutant"/>
                            <xs:enumeration value="Intermediaire"/>
                            <xs:enumeration value="Avance"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>

                <xs:element name="adresse" type="xs:string"/>

                <xs:element name="certificatMedical" type="xs:boolean"/>

                <xs:element name="conditions" type="xs:boolean"/>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>