inscription.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="formulaire">

        <xs:complexType>

            <xs:sequence>

                <xs:element
                    name="titre"
                    type="xs:string"/>

                <!-- Les champs du formulaire peuvent apparaître
                     dans n'importe quel ordre et plusieurs fois -->
                <xs:choice
                    minOccurs="0"
                    maxOccurs="unbounded">

                    <xs:element
                        name="input"
                        type="inputType"/>

                    <xs:element
                        name="select"
                        type="selectType"/>

                    <xs:element
                        name="textarea"
                        type="textareaType"/>

                    <xs:element
                        name="checkbox"
                        type="checkboxType"/>

                </xs:choice>

            </xs:sequence>

        </xs:complexType>

    </xs:element>

    <!-- Types définis séparément pour plus de clarté et de réutilisabilité -->

    <xs:complexType name="inputType">

        <xs:attribute
            name="name"
            type="xs:string"
            use="required"/>

        <xs:attribute
            name="label"
            type="xs:string"
            use="required"/>

        <xs:attribute
            name="type"
            type="xs:string"
            use="required"/>

        <xs:attribute
            name="required"
            type="xs:boolean"
            use="optional"
            default="false"/>

        <xs:attribute
            name="minlength"
            type="xs:positiveInteger"
            use="optional"/>

        <xs:attribute
            name="pattern"
            type="xs:string"
            use="optional"/>

    </xs:complexType>

    <xs:complexType name="selectType">

        <xs:sequence>

            <xs:element
                name="option"
                type="xs:string"
                minOccurs="1"
                maxOccurs="unbounded"/>

        </xs:sequence>

        <xs:attribute
            name="name"
            type="xs:string"
            use="required"/>

        <xs:attribute
            name="label"
            type="xs:string"
            use="required"/>

    </xs:complexType>

    <xs:complexType name="textareaType">

        <xs:simpleContent>

            <xs:extension base="xs:string">

                <xs:attribute
                    name="name"
                    type="xs:string"
                    use="required"/>

                <xs:attribute
                    name="label"
                    type="xs:string"
                    use="required"/>

                <xs:attribute
                    name="required"
                    type="xs:boolean"
                    use="optional"
                    default="false"/>

            </xs:extension>

        </xs:simpleContent>

    </xs:complexType>

    <xs:complexType name="checkboxType">

        <xs:attribute
            name="name"
            type="xs:string"
            use="required"/>

        <xs:attribute
            name="label"
            type="xs:string"
            use="required"/>

    </xs:complexType>

</xs:schema>
